language: r

# apt_packages does not work here
addons:
  apt:
    packages:
      - libarpack2-dev

cache:
 - packages
 - directories:
    - process/idmap/cache

r_packages:
 - devtools
 - rmarkdown

r_binary_packages:
 - devtools
 - rmarkdown

r_github_packages: klmr/modules

install:
 - make deps
 - git clone https://github.com/klmr/modules.git
 - cd modules
 - git checkout -b master
 - make deploy
 - cd ..
 - R CMD INSTALL modules
# - R -e "install.packages('devtools')" \
#     -e "devtools::install_github('klmr/modules')"
 - make -C stats nmf_mu.so

script: make test
